.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background: radial-gradient(77.86% 117.98% at 74.24% 19.82%, #F9C04C 0%, #DD8500 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */; /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  padding: 10vh 10vw;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
